$button-default-background-color: #376092;
$button-default-background-color-disabled: #f5f5f5;
$button-default-background-color-focus: #376092;
$button-default-background-color-over: #376092;
$button-default-base-color: #ffffff;
$button-default-base-color-disabled: #cccccc;
$button-default-base-color-focus: #ffffff;
$button-default-base-color-over: #ffffff;
$button-default-base-color-pressed: #ffffff;
$button-default-border-color: #cccccc;
$button-default-border-color-disabled: #cccccc;
$button-default-border-color-focus: #cccccc;
$button-default-color: #ffffff;
$button-large-border-radius: 10px;
$button-large-font-size: 36px;
$button-medium-border-radius: 10px;
$button-small-border-radius: 10px;
$button-small-font-weight: bold;