$form-label-font-size: 12px !default;
$form-label-font-color: #333333 !default;

$form-field-height: 30px !default;
$form-field-color: #333333 !default;
$form-field-font-size: 12px !default;
$form-field-padding: 3px 10px 3px 10px !default;
$form-field-border-color: #cccccc !default;
$form-field-border-style: solid !default;
$form-field-border-width: 1px !default;

$form-checkbox-size: 16px;