$grid-header-background-color: #e5e5e5 !default;
$grid-header-over-background-color: #e5e5e5 !default;
$grid-header-background-gradient: null !default;
$grid-header-border-style: none !default;
$grid-header-border-width: 0px !default;
$grid-header-border-color: #e5e5e5 !default;
$grid-header-padding: 10px 6px !default;
$grid-header-line-height: 30px !default;
$grid-header-color: #666666 !default;