/* 
    Document   : dst-all
    Created on : Feb 3, 2014, 1:02:17 PM
    Author     : Satish Jadhav
    Description: Dst theme styling
*/

.trgDate {
    display: inline-block;
    position: absolute;
    right: -22px;
    top: 30px;
    background-image: url("../images/form/date-trigger.png");
}

/*Header*/
.headerClass {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 100%); /* W3C */
}

/*Buttons*/
.buttonDone {
    cursor: pointer;
    background-color: #cb4e27;
    height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #7f3a24;
    border-radius: 6px;
    padding: 9px;
    width: 100px;
    font-weight: bold;
}

.buttonNxt, .buttonPrv {
    cursor: pointer;
    background-color: #999999;
    height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 6px;
    padding: 9px;
    width: 100px;
    font-weight: bold;
    margin-right: 6px;
}

.field-defination {
    color:#0066cc;
    font-size:11px; 
    padding-left:5px;
    cursor: pointer;
}

.x-grid-cell-amount > .x-grid-cell-inner {
    text-align: right !important;
    padding-right: 40px;
}

.downArrow {
    display: inline-block;
    background: url("../images/icons.png") repeat scroll -285px 371px rgba(0, 0, 0, 0);
    width: 26px;
}

.errorExclamationImg {
    display: inline-block;
    background: url("../images/icons.png") -180px 353px;
    width: 26px;
}

.deleteIcon {
    display: inline-block;
    background: url("../images/icons.png") -180px 353px;
    width: 26px;
}